# Godot files
/.import/
export_presets.cfg

# C# shit
.mono/

# cmake build folder
/build/
/cmake-build-debug/
/build-*/

# scons build stuff
*.os
.sconsign.dblite

# IDEs
# Intellij
.idea/
# Visual Studio code
.vscode/
# QtCreator
CMakeLists.txt.user
